
.graphBody {
    position: absolute;
    width: 12px;
    height: 12px;
    background: #3c656f;
    border-radius: 50%;

}

.graphBody:hover::after {
    content: attr(data-title);
    position: absolute;
    z-index: 1;
    color: yellow;
    font-size: 25px;
    top:-150px;
    background-color: rgba(70, 98, 130, 0.7);
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
